# PostgreSQL
POSTGRES_DB=english_tutor_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379
ConnectionStrings__Redis=localhost:6379

# pgAdmin
PGADMIN_EMAIL=admin@englishtutor.dev
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050

# Redis Insight
REDIS_INSIGHT_PORT=5540
